.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #98FF98;
    font-size: 80;
  }
  
  h1 {
    color: white;
    font-size: 80px;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
  }

  h3 {
    color: white;
  }

  .searchbar {
    color: white;
    font-size: 50px;
  }
